.CalenderMenu{
    width: 190px;
    width: 0;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: var(--white);
    box-shadow: var(--Lgray) 0 0 2px;
    border-radius: 3px;
}